---
import Layout from "../layouts/Layout.astro";

import ImageText from "../components/ImageText.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ImageText />
  </main>
</Layout>

<style></style>
