---
import Layout from "../layouts/Layout.astro";
import Features from "../components/Features.astro";
import Features2 from "../components/Features2.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Features2 />
    <Features />
  </main>
</Layout>

<style></style>
