---

---

<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <div class="flex flex-col mb-6 lg:flex-row md:mb-10">
    <div class="lg:w-1/2">
      <h2
        class="max-w-md mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none xl:max-w-lg"
      >
        CNC i klasična strojna obrada metala
      </h2>
    </div>
    <div class="lg:w-1/2">
      <p class="text-base text-gray-700 md:text-lg">
        Vršimo usluge tokarenja na 5 CNC tokarilica i 2 klasična tokarska stroja
        te jedan poluautomat, glodanje na 3 CNC obradna centra te 2 klasične
        glodalice. U mogućnosti smo izraditi proizvode po svim zahtjevima
        kupaca.
      </p>
      <p class="text-base text-gray-700 md:text-lg">
        U mogućnosti smo izraditi proizvode po najvišim standardima koje je
        prepoznalo i zapadno tržište (njemačke i francuske tvrtke).
      </p>
    </div>
  </div>
  <div class="grid gap-8 row-gap-10 sm:grid-cols-1 lg:grid-cols-3">
    <div>
      <div
        class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          fill="none"
          viewBox="0 0 24 24"
          class="w-7 h-7 text-deep-purple-accent-400"
          stroke-linecap="round"
          stroke-width="2"
        >
          <path stroke="currentColor" d="M2 12h4l2 2.5V9.5L6 12H2z"></path>
          <path
            fill="currentColor"
            d="M8 9.5v5l1.5-1.75L11 15v-6l-1.5 1.75L8 9.5z"></path>
          <circle cx="16" cy="12" r="6" stroke="currentColor"></circle>
          <path
            stroke="currentColor"
            d="M14.5 8.5c1.5 1 2.5 3 2.5 3.5s-1 2.5-2.5 3.5"></path>
        </svg>
      </div>
      <h6 class="mb-2 font-semibold leading-5">Tokarenje</h6>
      <p class="mb-3 text-sm text-gray-900">
        Stvaramo izvrsnost, jedan po jedan okretaj.
      </p>
      <ul class="mb-4 -ml-1 space-y-2">
        <li class="flex items-start">
          <span class="mr-1">
            <svg
              class="w-5 h-5 mt-px text-deep-purple-accent-400"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </span>
           dva univerzalna tokarska stroja mogućnosti tokarenja do fi 500 x 1000
          mm
        </li>
        <li class="flex items-start">
          <span class="mr-1">
            <svg
              class="w-5 h-5 mt-px text-deep-purple-accent-400"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </span>
           pet CNC automatska tokarska stroja mogućnosti tokarenja do fi 30 u
          šipkama i do fi 300 u komadima
        </li>
        <li class="flex items-start">
          <span class="mr-1">
            <svg
              class="w-5 h-5 mt-px text-deep-purple-accent-400"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </span>
           četiri tokarska automata mogućnosti tokarenja do o 36 u šipkama dvije
          univerzalne glodalice
        </li>
      </ul>
    </div>
    <div>
      <div
        class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          fill="none"
          viewBox="0 0 24 24"
          class="w-7 h-7 text-deep-purple-accent-400"
          stroke-linecap="round"
          stroke-width="2"
        >
          <path stroke="currentColor" d="M3 21h18"></path>
          <path fill="currentColor" d="M14 3l-3 5h6l-3-5z"></path>
          <rect width="14" height="4" x="5" y="8" fill="currentColor" rx="2"
          ></rect>
          <path stroke="currentColor" d="M5 12v3h14v-3"></path>
          <path fill="currentColor" d="M9 17v4h6v-4H9z"></path>
        </svg>
      </div>
      <h6 class="mb-2 font-semibold leading-5">Glodanje</h6>
      <p class="mb-3 text-sm text-gray-900">
        Oblikujemo preciznost, jedan po jedan rez.
      </p>
      <ul class="mb-4 -ml-1 space-y-2">
        <li class="flex items-start">
          <span class="mr-1">
            <svg
              class="w-5 h-5 mt-px text-deep-purple-accent-400"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </span>
           CNC glodalica veličine stola 500 x 400 m
        </li>
        <li class="flex items-start">
          <span class="mr-1">
            <svg
              class="w-5 h-5 mt-px text-deep-purple-accent-400"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </span>
           klasična alatna glodalica
        </li>
      </ul>
    </div>
    <div>
      <div
        class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="64"
          height="64"
          fill="none"
          viewBox="0 0 24 24"
          class="w-7 h-7 text-deep-purple-accent-400"
          stroke-linecap="round"
          stroke-width="2"
        >
          <path stroke="currentColor" d="M2 12h4l2 2.5V9.5L6 12H2z"></path>
          <path
            fill="currentColor"
            d="M8 9.5v5l1.5-1.75L11 15v-6l-1.5 1.75L8 9.5z"></path>
          <circle cx="16" cy="12" r="6" stroke="currentColor"></circle>
          <path
            stroke="currentColor"
            d="M14.5 8.5c1.5 1 2.5 3 2.5 3.5s-1 2.5-2.5 3.5"></path>
        </svg>
      </div>
      <h6 class="mb-2 font-semibold leading-5">Ostalo</h6>
      <p class="mb-3 text-sm text-gray-900">Napredna obrada metala</p>
      <ul class="mb-4 -ml-1 space-y-2">
        <li class="flex items-start">
          <span class="mr-1">
            <svg
              class="w-5 h-5 mt-px text-deep-purple-accent-400"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </span>
           tri CNC obradna centra veličine stola 500 x 500
        </li>
        <li class="flex items-start">
          <span class="mr-1">
            <svg
              class="w-5 h-5 mt-px text-deep-purple-accent-400"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </span>
           stupna bušilica
        </li>
        <li class="flex items-start">
          <span class="mr-1">
            <svg
              class="w-5 h-5 mt-px text-deep-purple-accent-400"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </span>
           CNC strojna pila i ostali pribor
        </li>
        <li class="flex items-start">
          <span class="mr-1">
            <svg
              class="w-5 h-5 mt-px text-deep-purple-accent-400"
              stroke="currentColor"
              viewBox="0 0 52 52"
            >
              <polygon
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"
                fill="none"
                points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
            </svg>
          </span>
           ruka za urezivanje navoja do M24
        </li>
      </ul>
    </div>
  </div>
</div>
