---

---

<nav aria-label="Global" class="hidden md:block">
  <ul class="flex items-center gap-6 text-sm">
    <li>
      <a class="text-gray-500 transition hover:text-gray-500/75" href="/">
        Home
      </a>
    </li>

    <li>
      <a class="text-gray-500 transition hover:text-gray-500/75" href="/about">
        About Us
      </a>
    </li>

    <li>
      <a
        class="text-gray-500 transition hover:text-gray-500/75"
        href="/contact"
      >
        Contact Us
      </a>
    </li>

    <li>
      <a
        class="text-gray-500 transition hover:text-gray-500/75"
        href="/services"
      >
        Services
      </a>
    </li>

    <li>
      <a
        class="text-gray-500 transition hover:text-gray-500/75"
        href="/projects"
      >
        Projects
      </a>
    </li>
  </ul>
</nav>
